@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #0e1525;
  line-height: 1;
  font-family: "Quicksand";
  font-size: 1.5625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Quicksand";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  opacity: 0;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 0.3125rem;
  height: 2.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  background-color: #000;
  opacity: 0.2;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section_header {
  max-width: 100%;
}

.section_header_label {
  line-height: 1.24;
}

.section_header_title {
  line-height: 1.25;
  font-weight: 700;
  color: #1c1f25;
  max-width: 30rem;
}

.section_header_title:not(:last-child) {
  margin-bottom: 0.75em;
}

.section_header_title_big {
  max-width: 55.625rem;
}

.section_header_lite .section_header_label {
  color: #E3E6EC;
}

.section_header_lite .section_header_title {
  color: #fff;
}

.section_header__text {
  line-height: 1.8;
  max-width: 33.75rem;
}

.servises {
  display: -ms-grid;
  display: grid;
}

.servises_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servises_icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
  height: 3.75rem;
}

.servises_icon img {
  max-width: 100%;
}

.servises_title {
  font-weight: 700;
  line-height: 1.2666666667;
  color: #1c1f25;
}

.servises_text {
  line-height: 1.8;
}

.text {
  line-height: 1.8;
  max-width: 33.75rem;
}

.title {
  font-weight: 700;
  line-height: 1.2666666667;
  color: #1c1f25;
}

.section_header_label,
.section_header_title,
.section_header__text {
  -webkit-transform: translate(0px, 6.25rem);
      -ms-transform: translate(0px, 6.25rem);
          transform: translate(0px, 6.25rem);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.active-section .section_header_label,
.active-section .section_header_title,
.active-section .section_header__text {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.previous-section .section_header_label,
.previous-section .section_header_title,
.previous-section .section_header__text {
  -webkit-transform: translate(0px, -6.25rem);
      -ms-transform: translate(0px, -6.25rem);
          transform: translate(0px, -6.25rem);
}

.next-section .section_header_label,
.next-section .section_header_title,
.next-section .section_header__text {
  -webkit-transform: translate(0px, 6.25rem);
      -ms-transform: translate(0px, 6.25rem);
          transform: translate(0px, 6.25rem);
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page {
  counter-reset: item;
}

.page__section::after {
  color: #e3e6ec;
  font-weight: 700;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
}

.screen-1__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen-1__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.screen-1__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 31, 37, 0.6);
}

.screen-1__section_header {
  position: relative;
  z-index: 1;
}

.screen-1__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.screen-2__container {
  min-height: 100%;
}

.screen-2__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-2__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-2__image img {
  max-width: 100%;
}

.screen-3__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-3__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 1.875rem;
}

.screen-3__image img {
  max-width: 100%;
}

.screen-3__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.values-screen-3 {
  display: -ms-grid;
  display: grid;
}

.values-screen-3__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.values-screen-3__value {
  color: #1c1f25;
  font-weight: 700;
}

.values-screen-3__line {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  background: rgba(28, 31, 37, 0.1);
}

.values-screen-3__line span {
  display: block;
  background-color: #1c1f25;
  height: 0.625rem;
}

.screen-4__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.screen-4 .advantages {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
}

.screen-4 .advantages_item {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.screen-4 .advantages_title {
  font-weight: 700;
  line-height: 1.2666666667;
  color: #1c1f25;
}

.screen-4 .advantages_text {
  line-height: 1.8;
}

.active-section .advantages_item,
.active-section .servises_item,
.active-section .screen-10__item,
.active-section .screen-11__item {
  opacity: 1;
}

.active-section .advantages_item:nth-child(1),
.active-section .servises_item:nth-child(1),
.active-section .screen-10__item:nth-child(1),
.active-section .screen-11__item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.active-section .advantages_item:nth-child(2),
.active-section .servises_item:nth-child(2),
.active-section .screen-10__item:nth-child(2),
.active-section .screen-11__item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.active-section .advantages_item:nth-child(3),
.active-section .servises_item:nth-child(3),
.active-section .screen-10__item:nth-child(3),
.active-section .screen-11__item:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.active-section .advantages_item:nth-child(4),
.active-section .servises_item:nth-child(4),
.active-section .screen-10__item:nth-child(4),
.active-section .screen-11__item:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.screen-5__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.screen-5__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.screen-6 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.screen-6__section_header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-6_servises {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-7_servises {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.screen-7__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-7__image img {
  max-width: 100%;
}

.screen-8__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-8 .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen-8 .projects__value {
  line-height: 1.25;
  font-weight: 700;
  color: #1c1f25;
}

.screen-8 .projects__value:not(:last-child) {
  margin-bottom: 0.2666666667em;
}

.screen-8__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.screen-8__image img {
  max-width: 100%;
}

.screen-9__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.screen-9__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.667%;
          flex: 0 0 66.667%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.screen-9 .item-screen-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen-9 .item-screen-9__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.9375rem;
}

.screen-9 .item-screen-9__text {
  line-height: 1.8;
  max-width: 33.75rem;
}

.screen-9 .item-screen-9__title {
  font-weight: 700;
  line-height: 1.2666666667;
  color: #1c1f25;
}

.screen-9 .item-screen-9__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-10__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  padding-bottom: 3.125rem;
}

.screen-10__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.screen-10__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 57.407407%;
      flex-basis: 57.407407%;
}

.screen-10__body {
  padding-right: 0.9375rem;
}

.screen-10__text {
  line-height: 1.8;
  max-width: 33.75rem;
}

.screen-10__title {
  font-weight: 700;
  line-height: 1.2666666667;
  color: #1c1f25;
}

.screen-11 {
  position: relative;
}

.screen-11__container {
  z-index: 2;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  position: relative;
}

.screen-11__items {
  display: -ms-grid;
  display: grid;
}

.screen-11__text {
  line-height: 1.8;
  max-width: 33.75rem;
}

.screen-11__title {
  font-weight: 700;
  line-height: 1.2666666667;
  color: #1c1f25;
}

.screen-11__image {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.screen-11__image img {
  max-width: 100%;
}

.screen-12__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen-12__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.screen-12__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 31, 37, 0.6);
}

.screen-12__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #000;
}

.screen-12__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-12__item {
  color: #E3E6EC;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.screen-12__value {
  line-height: 1.25;
  font-weight: 700;
}

.servises_item,
.screen-10__item,
.screen-11__item {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media (min-width: 29.99875em) {
  .screen-9 .item-screen-9:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .screen-9 .item-screen-9:nth-child(odd) .item-screen-9__body {
    text-align: right;
  }
}

@media (min-width: 47.99875em) {
  .section_header_title:not(:last-child) {
    margin-bottom: 2.2em;
  }

  .screen-1__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .screen-2__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .screen-2__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }

  .screen-3__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    min-height: 100%;
  }

  .screen-3__content {
    padding-bottom: 3.125rem;
  }

  .screen-5__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
  }

  .screen-5__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }

  .screen-7__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
  }

  .screen-7_servises {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }

  .screen-7__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .screen-8__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    min-height: 100%;
  }

  .screen-8__content {
    padding-bottom: 3.125rem;
  }

  .screen-8__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .screen-11::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 37.5%;
    top: 0;
    left: 0;
    background: rgba(196, 196, 196, 0.3);
  }

  .screen-12__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 120em) {
  .screen-7__image {
    right: -15rem;
  }
}

@media (min-width: 61.99875em) {
  .screen-6__container {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .screen-6__section_header {
    padding-top: 1.25rem;
  }

  .screen-9__section_header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .screen-9 .section_header_title {
    margin-bottom: 0rem;
  }

  .screen-9__section_header.section_header {
    text-align: center;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (min-width: 61.99875em) and (min-width: 120em) {
  .screen-9 .section_header_title {
    margin-right: 2rem;
  }
}

@media (min-width: 120em) {
  body {
    font-size: 1.5625rem;
  }

  [class*=__container] {
    padding-left: 15rem;
  }

  [class*=__container] {
    padding-right: 15rem;
  }

  .fp-bullets {
    left: 7.5rem;
  }

  .section_header_label:not(:last-child) {
    matgin-bottom: 2rem;
  }

  .section_header_title {
    font-size: 3.75rem;
  }

  .servises {
    gap: 3.75rem;
  }

  .servises_item {
    gap: 3.125rem;
  }

  .servises_title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .servises_title {
    font-size: 1.875rem;
  }

  .title {
    font-size: 1.875rem;
  }

  .title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .page__section::after {
    font-size: 3.75rem;
  }

  .page__section::after {
    right: 7.5rem;
  }

  .screen-1__body {
    padding-top: 9.6875rem;
  }

  .screen-1__body {
    padding-bottom: 9.6875rem;
  }

  .screen-1__body {
    padding-left: 15rem;
  }

  .screen-1__body {
    padding-right: 15rem;
  }

  .screen-3__image {
    left: -15rem;
  }

  .values-screen-3 {
    padding-top: 7.5rem;
  }

  .values-screen-3 {
    gap: 4.75rem;
  }

  .screen-4__section_header:not(:last-child) {
    margin-bottom: 9.5625rem;
  }

  .screen-4 .advantages {
    gap: 3.125rem;
  }

  .screen-4 .advantages_icon:not(:last-child) {
    margin-bottom: 1.625rem;
  }

  .screen-4 .advantages_title {
    font-size: 1.875rem;
  }

  .screen-4 .advantages_title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .screen-8__section_header {
    margin-bottom: 11.875rem;
  }

  .screen-8 .projects {
    gap: 5.25rem;
  }

  .screen-8 .projects__value {
    font-size: 3.75rem;
  }

  .screen-9 .section_header_title:not(:last-child) {
    matgin-bottom: 2rem;
  }

  .screen-9 .item-screen-9__title {
    font-size: 1.875rem;
  }

  .screen-10__title {
    font-size: 1.875rem;
  }

  .screen-10__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .screen-11__items {
    gap: 3.75rem;
  }

  .screen-11__title {
    font-size: 1.875rem;
  }

  .screen-11__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .screen-12__body {
    padding-top: 9.6875rem;
  }

  .screen-12__body {
    padding-bottom: 9.6875rem;
  }

  .screen-12__body {
    padding-left: 15rem;
  }

  .screen-12__body {
    padding-right: 15rem;
  }

  .screen-12__value {
    font-size: 3.75rem;
  }
}

@media (max-width: 20em) {
  body {
    font-size: 1.125rem;
  }

  [class*=__container] {
    padding-left: 0.9375rem;
  }

  [class*=__container] {
    padding-right: 0.9375rem;
  }

  .fp-bullets {
    left: 0.46875rem;
  }

  .section_header_label:not(:last-child) {
    matgin-bottom: 0.9375rem;
  }

  .section_header_title {
    font-size: 2.1875rem;
  }

  .servises {
    gap: 1.875rem;
  }

  .servises_item {
    gap: 0.625rem;
  }

  .servises_title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .servises_title {
    font-size: 1.25rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .page__section::after {
    font-size: 1.5625rem;
  }

  .page__section::after {
    right: 0.46875rem;
  }

  .screen-1__body {
    padding-top: 3.125rem;
  }

  .screen-1__body {
    padding-bottom: 3.125rem;
  }

  .screen-1__body {
    padding-left: 0.9375rem;
  }

  .screen-1__body {
    padding-right: 0.9375rem;
  }

  .screen-3__image {
    left: -0.9375rem;
  }

  .values-screen-3 {
    padding-top: 2.8125rem;
  }

  .values-screen-3 {
    gap: 1.5625rem;
  }

  .screen-4__section_header:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .screen-4 .advantages {
    gap: 1.25rem;
  }

  .screen-4 .advantages_icon:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .screen-4 .advantages_title {
    font-size: 0.625rem;
  }

  .screen-4 .advantages_title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .screen-8__section_header {
    margin-bottom: 1.875rem;
  }

  .screen-8 .projects {
    gap: 1.25rem;
  }

  .screen-8 .projects__value {
    font-size: 2.1875rem;
  }

  .screen-9 .section_header_title:not(:last-child) {
    matgin-bottom: 0.9375rem;
  }

  .screen-9 .item-screen-9__title {
    font-size: 1.25rem;
  }

  .screen-10__title {
    font-size: 1.25rem;
  }

  .screen-10__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .screen-11__items {
    gap: 1.5625rem;
  }

  .screen-11__title {
    font-size: 1.25rem;
  }

  .screen-11__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .screen-12__body {
    padding-top: 3.125rem;
  }

  .screen-12__body {
    padding-bottom: 3.125rem;
  }

  .screen-12__body {
    padding-left: 0.9375rem;
  }

  .screen-12__body {
    padding-right: 0.9375rem;
  }

  .screen-12__value {
    font-size: 2.1875rem;
  }
}

@media (max-width: 61.99875em) {
  .screen-6__section_header {
    padding-bottom: 1.875rem;
  }

  .screen-9__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .screen-9 .item-screen-9__image-ibg {
    padding-bottom: 53%;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .screen-9__section_header {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }

  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }

  .fp-bullets .fp-bullet {
    width: 1.5625rem;
    line-height: 0 0 1.5625rem;
    height: 0.3125rem;
    border: 0.0625rem solid #fff;
  }

  .page__section::after {
    top: 1.25rem;
    right: 50%;
  }

  .screen-1__container {
    padding-left: 0;
    padding-right: 0;
  }

  .screen-1__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }

  .screen-5_image-ibg img {
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .screen-10__container {
    padding-top: 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .screen-10__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .screen-10__image-ibg {
    padding-bottom: 55%;
  }

  .screen-11__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .screen-11__items {
    margin-bottom: 1.875rem;
  }

  .screen-12__container {
    padding-left: 0;
    padding-right: 0;
  }

  .screen-12__body::after {
    background: rgba(28, 31, 37, 0.9);
  }

  .screen-12__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }

  .screen-12__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .screen-5_image-ibg {
    margin-left: -0.9375rem;
  }

  .screen-5_image-ibg {
    margin-right: -0.9375rem;
  }

  .screen-9__items {
    margin-left: -0.9375rem;
  }

  .screen-9__items {
    margin-right: -0.9375rem;
  }
}

@media (max-width: 29.99875em) {
  .servises_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .screen-9 .item-screen-9 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 120em) {
@supports (font-size: clamp( 1.125rem , 1.0375rem  +  0.4375vw , 1.5625rem )) {
    body {
      font-size: clamp( 1.125rem , 1.0375rem  +  0.4375vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0375rem  +  0.4375vw , 1.5625rem )) {
    body {
      font-size: calc(1.125rem + 0.4375 * (100vw - 20rem) / 100);
    }
}

@supports (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (left: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem )) {
    .fp-bullets {
      left: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem );
    }
}

@supports not (left: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem )) {
    .fp-bullets {
      left: calc(0.46875rem + 7.03125 * (100vw - 20rem) / 100);
    }
}

@supports (matgin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .section_header_label:not(:last-child) {
      matgin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
    }
}

@supports not (matgin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .section_header_label:not(:last-child) {
      matgin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
    .section_header_title {
      font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
    .section_header_title {
      font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem )) {
    .servises {
      gap: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem )) {
    .servises {
      gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem )) {
    .servises_item {
      gap: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem )) {
    .servises_item {
      gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .servises_title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .servises_title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .servises_title {
      font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .servises_title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .title {
      font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
    .page__section::after {
      font-size: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
    .page__section::after {
      font-size: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 100);
    }
}

@supports (right: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem )) {
    .page__section::after {
      right: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem );
    }
}

@supports not (right: clamp( 0.46875rem , -0.9375rem  +  7.03125vw , 7.5rem )) {
    .page__section::after {
      right: calc(0.46875rem + 7.03125 * (100vw - 20rem) / 100);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem )) {
    .screen-1__body {
      padding-top: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem )) {
    .screen-1__body {
      padding-top: calc(3.125rem + 6.5625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem )) {
    .screen-1__body {
      padding-bottom: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem )) {
    .screen-1__body {
      padding-bottom: calc(3.125rem + 6.5625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    .screen-1__body {
      padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    .screen-1__body {
      padding-left: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    .screen-1__body {
      padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    .screen-1__body {
      padding-right: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-3__image {
      left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem );
    }
}

@supports not (left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-3__image {
      left: calc(-0.9375rem + -14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-top: clamp( 2.8125rem , 1.875rem  +  4.6875vw , 7.5rem )) {
    .values-screen-3 {
      padding-top: clamp( 2.8125rem , 1.875rem  +  4.6875vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 1.875rem  +  4.6875vw , 7.5rem )) {
    .values-screen-3 {
      padding-top: calc(2.8125rem + 4.6875 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.5625rem , 0.925rem  +  3.1875vw , 4.75rem )) {
    .values-screen-3 {
      gap: clamp( 1.5625rem , 0.925rem  +  3.1875vw , 4.75rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 0.925rem  +  3.1875vw , 4.75rem )) {
    .values-screen-3 {
      gap: calc(1.5625rem + 3.1875 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 0.7125rem  +  7.375vw , 9.5625rem )) {
    .screen-4__section_header:not(:last-child) {
      margin-bottom: clamp( 2.1875rem , 0.7125rem  +  7.375vw , 9.5625rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 0.7125rem  +  7.375vw , 9.5625rem )) {
    .screen-4__section_header:not(:last-child) {
      margin-bottom: calc(2.1875rem + 7.375 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem )) {
    .screen-4 .advantages {
      gap: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem )) {
    .screen-4 .advantages {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 1.025rem  +  0.5vw , 1.625rem )) {
    .screen-4 .advantages_icon:not(:last-child) {
      margin-bottom: clamp( 1.125rem , 1.025rem  +  0.5vw , 1.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 1.025rem  +  0.5vw , 1.625rem )) {
    .screen-4 .advantages_icon:not(:last-child) {
      margin-bottom: calc(1.125rem + 0.5 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 0.625rem , 0.375rem  +  1.25vw , 1.875rem )) {
    .screen-4 .advantages_title {
      font-size: clamp( 0.625rem , 0.375rem  +  1.25vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.375rem  +  1.25vw , 1.875rem )) {
    .screen-4 .advantages_title {
      font-size: calc(0.625rem + 1.25 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem )) {
    .screen-4 .advantages_title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem )) {
    .screen-4 .advantages_title:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 11.875rem )) {
    .screen-8__section_header {
      margin-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 11.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 11.875rem )) {
    .screen-8__section_header {
      margin-bottom: calc(1.875rem + 10 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.25rem , 0.45rem  +  4vw , 5.25rem )) {
    .screen-8 .projects {
      gap: clamp( 1.25rem , 0.45rem  +  4vw , 5.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.45rem  +  4vw , 5.25rem )) {
    .screen-8 .projects {
      gap: calc(1.25rem + 4 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
    .screen-8 .projects__value {
      font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
    .screen-8 .projects__value {
      font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 100);
    }
}

@supports (matgin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .screen-9 .section_header_title:not(:last-child) {
      matgin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
    }
}

@supports not (matgin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .screen-9 .section_header_title:not(:last-child) {
      matgin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .screen-9 .item-screen-9__title {
      font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .screen-9 .item-screen-9__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .screen-10__title {
      font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .screen-10__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .screen-10__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .screen-10__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
    }
}

@supports (gap: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
    .screen-11__items {
      gap: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
    .screen-11__items {
      gap: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .screen-11__title {
      font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
    .screen-11__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .screen-11__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
    .screen-11__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem )) {
    .screen-12__body {
      padding-top: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem )) {
    .screen-12__body {
      padding-top: calc(3.125rem + 6.5625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem )) {
    .screen-12__body {
      padding-bottom: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.8125rem  +  6.5625vw , 9.6875rem )) {
    .screen-12__body {
      padding-bottom: calc(3.125rem + 6.5625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    .screen-12__body {
      padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    .screen-12__body {
      padding-left: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    .screen-12__body {
      padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
    .screen-12__body {
      padding-right: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
    .screen-12__value {
      font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
    .screen-12__value {
      font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 100);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 120em) {
  .screen-5_image-ibg {
    margin-left: -15rem;
  }

  .screen-5_image-ibg {
    margin-right: -15rem;
  }

  .screen-9__items {
    margin-left: -15rem;
  }

  .screen-9__items {
    margin-right: -15rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 120em) {
@supports (margin-left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-5_image-ibg {
      margin-left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem );
    }
}

@supports not (margin-left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-5_image-ibg {
      margin-left: calc(-0.9375rem + -14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-5_image-ibg {
      margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem );
    }
}

@supports not (margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-5_image-ibg {
      margin-right: calc(-0.9375rem + -14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-9__items {
      margin-left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem );
    }
}

@supports not (margin-left: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-9__items {
      margin-left: calc(-0.9375rem + -14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-9__items {
      margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem );
    }
}

@supports not (margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-9__items {
      margin-right: calc(-0.9375rem + -14.0625 * (100vw - 20rem) / 100);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 120em) {
@supports (right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-7__image {
      right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem );
    }
}

@supports not (right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .screen-7__image {
      right: calc(-0.9375rem + -14.0625 * (100vw - 20rem) / 100);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .screen-7__image {
    right: -0.9375rem;
  }
}

@media (min-width: 48em) and (max-width: 120em) {
@supports (padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem )) {
    .screen-8__content {
      padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem )) {
    .screen-8__content {
      padding-left: calc(1.875rem + 13.125 * (100vw - 48rem) / 72);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.1041666667rem  +  3.0381944444vw , 3.75rem )) {
    .screen-10__body {
      padding-top: clamp( 1.5625rem , 0.1041666667rem  +  3.0381944444vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.1041666667rem  +  3.0381944444vw , 3.75rem )) {
    .screen-10__body {
      padding-top: calc(1.5625rem + 2.1875 * (100vw - 48rem) / 72);
    }
}

@supports (padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem )) {
    .screen-11__items {
      padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem )) {
    .screen-11__items {
      padding-left: calc(1.875rem + 13.125 * (100vw - 48rem) / 72);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 120em) {
  .screen-9__section_header {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 120em) {
@supports (margin-bottom: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem )) {
    .screen-9__section_header {
      margin-bottom: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem )) {
    .screen-9__section_header {
      margin-bottom: calc(0.625rem + 2.5 * (100vw - 20rem) / 100);
    }
}
}

@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 120em) {
@supports (margin-right: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem )) {
    .screen-9 .section_header_title {
      margin-right: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem )) {
    .screen-9 .section_header_title {
      margin-right: calc(0.625rem + 1.375 * (100vw - 20rem) / 100);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 20em) {
  .screen-9 .section_header_title {
    margin-right: 0.625rem;
  }
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }
}